@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Memphis Used Cars</h1>
    <p class="lead">Welcome to Memphis Used Cars! Here you can find cars from many different makes and types at your disposal.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Available cars</h2>
        <p>We have a many cars ready to be purchased, including modern and classic cars.</p>
        <p><a class="btn btn-default" href="http://localhost:63679/Vehicles">Browse &raquo;</a></p>
    </div>
    <div class="col-md-4 pull-right">
        <h2>Specifications</h2>
        <p>Check the specifications of all cars that we have available at our store.</p>
        <p><a class="btn btn-default" href="http://localhost:63679/Models/Index">Check the details &raquo;</a></p>
    </div>
</div>