@model Dealership.Models.Make


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Make</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.make1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.make1)
        </dd>

    </dl>

    <h5>Units Available</h5>
    <ul>
        @foreach (var v in Model.Vehicles)
        {
            <li>$@v.price</li>
        }
    </ul>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.makeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
